USE [ProyectoSauna]
GO
/****** Object:  Table [dbo].[CategoriaProducto]    Script Date: 21/10/2025 12:24:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoriaProducto](
	[idCategoriaProducto] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](80) NOT NULL,
 CONSTRAINT [PK_CategoriaProducto] PRIMARY KEY CLUSTERED 
(
	[idCategoriaProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_CategoriaProducto_nombre] UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CierreCaja]    Script Date: 21/10/2025 12:24:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CierreCaja](
	[idCierreCaja] [int] IDENTITY(1,1) NOT NULL,
	[fecha] [date] NOT NULL,
	[totalEntradas] [decimal](12, 2) NOT NULL,
	[totalBarra] [decimal](12, 2) NOT NULL,
	[totalAccesorios] [decimal](12, 2) NOT NULL,
	[totalEfectivo] [decimal](12, 2) NOT NULL,
	[totalTarjeta] [decimal](12, 2) NOT NULL,
	[totalIngresos] [decimal](12, 2) NOT NULL,
	[totalEgresos] [decimal](12, 2) NOT NULL,
	[gananciaNeta] [decimal](12, 2) NOT NULL,
	[idUsuarioResponsable] [int] NOT NULL,
 CONSTRAINT [PK_CierreCaja] PRIMARY KEY CLUSTERED 
(
	[idCierreCaja] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 21/10/2025 12:24:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[idCliente] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](80) NOT NULL,
	[apellidos] [nvarchar](120) NOT NULL,
	[documento] [nvarchar](20) NULL,
	[telefono] [nvarchar](30) NULL,
	[correo] [nvarchar](150) NULL,
	[direccion] [nvarchar](200) NULL,
	[fechaRegistro] [datetime2](0) NOT NULL,
	[visitasTotales] [int] NOT NULL,
	[activo] [bit] NOT NULL,
	[idPrograma] [int] NOT NULL,
 CONSTRAINT [PK_Cliente] PRIMARY KEY CLUSTERED 
(
	[idCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comprobante]    Script Date: 21/10/2025 12:24:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comprobante](
	[idComprobante] [int] IDENTITY(1,1) NOT NULL,
	[serie] [nvarchar](10) NOT NULL,
	[numero] [nvarchar](15) NOT NULL,
	[fechaEmision] [datetime2](0) NOT NULL,
	[subtotal] [decimal](12, 2) NOT NULL,
	[igv] [decimal](12, 2) NOT NULL,
	[total] [decimal](12, 2) NOT NULL,
	[idTipoComprobante] [int] NOT NULL,
	[idCuenta] [int] NOT NULL,
 CONSTRAINT [PK_Comprobante] PRIMARY KEY CLUSTERED 
(
	[idComprobante] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Comprobante_idCuenta] UNIQUE NONCLUSTERED 
(
	[idCuenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Comprobante_SerieNumero] UNIQUE NONCLUSTERED 
(
	[serie] ASC,
	[numero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cuenta]    Script Date: 21/10/2025 12:24:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cuenta](
	[idCuenta] [int] IDENTITY(1,1) NOT NULL,
	[fechaCreacion] [datetime2](0) NOT NULL,
	[subtotalEntrada] [decimal](12, 2) NOT NULL,
	[subtotalConsumos] [decimal](12, 2) NOT NULL,
	[descuento] [decimal](12, 2) NOT NULL,
	[total] [decimal](12, 2) NOT NULL,
	[idEstadoCuenta] [int] NOT NULL,
	[idUsuarioCreador] [int] NOT NULL,
	[idCliente] [int] NOT NULL,
 CONSTRAINT [PK_Cuenta] PRIMARY KEY CLUSTERED 
(
	[idCuenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetalleConsumo]    Script Date: 21/10/2025 12:24:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleConsumo](
	[idDetalle] [int] IDENTITY(1,1) NOT NULL,
	[cantidad] [int] NOT NULL,
	[precioUnitario] [decimal](12, 2) NOT NULL,
	[subtotal] [decimal](12, 2) NOT NULL,
	[idOrden] [int] NOT NULL,
	[idProducto] [int] NOT NULL,
 CONSTRAINT [PK_DetalleConsumo] PRIMARY KEY CLUSTERED 
(
	[idDetalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Egreso]    Script Date: 21/10/2025 12:24:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Egreso](
	[idEgreso] [int] IDENTITY(1,1) NOT NULL,
	[concepto] [nvarchar](200) NOT NULL,
	[fecha] [datetime2](0) NOT NULL,
	[monto] [decimal](12, 2) NOT NULL,
	[recurrente] [bit] NOT NULL,
	[comprobante] [nvarchar](80) NULL,
	[idTipoEgreso] [int] NOT NULL,
	[idFlujoCaja] [int] NOT NULL,
 CONSTRAINT [PK_Egreso] PRIMARY KEY CLUSTERED 
(
	[idEgreso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Entrada]    Script Date: 21/10/2025 12:24:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Entrada](
	[idEntrada] [int] IDENTITY(1,1) NOT NULL,
	[fechaHoraIngreso] [datetime2](0) NOT NULL,
	[fechaHoraSalida] [datetime2](0) NULL,
	[precioEntrada] [decimal](12, 2) NOT NULL,
	[idEstadoEntrada] [int] NOT NULL,
	[idCliente] [int] NOT NULL,
	[idCuenta] [int] NOT NULL,
 CONSTRAINT [PK_Entrada] PRIMARY KEY CLUSTERED 
(
	[idEntrada] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Entrada_idCuenta] UNIQUE NONCLUSTERED 
(
	[idCuenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EstadoCuenta]    Script Date: 21/10/2025 12:24:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstadoCuenta](
	[idEstadoCuenta] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_EstadoCuenta] PRIMARY KEY CLUSTERED 
(
	[idEstadoCuenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_EstadoCuenta_nombre] UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EstadoEntrada]    Script Date: 21/10/2025 12:24:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstadoEntrada](
	[idEstadoEntrada] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_EstadoEntrada] PRIMARY KEY CLUSTERED 
(
	[idEstadoEntrada] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_EstadoEntrada_nombre] UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EstadoOrden]    Script Date: 21/10/2025 12:24:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstadoOrden](
	[idEstadoOrden] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_EstadoOrden] PRIMARY KEY CLUSTERED 
(
	[idEstadoOrden] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_EstadoOrden_nombre] UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FlujoCaja]    Script Date: 21/10/2025 12:24:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FlujoCaja](
	[idFlujoCaja] [int] IDENTITY(1,1) NOT NULL,
	[periodo] [datetime2](0) NOT NULL,
	[totalIngresos] [decimal](12, 2) NOT NULL,
	[totalEgresos] [decimal](12, 2) NOT NULL,
	[saldoInicial] [decimal](12, 2) NOT NULL,
	[saldoFinal] [decimal](12, 2) NOT NULL,
	[utilidadNeta] [decimal](12, 2) NOT NULL,
 CONSTRAINT [PK_FlujoCaja] PRIMARY KEY CLUSTERED 
(
	[idFlujoCaja] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MetodoPago]    Script Date: 21/10/2025 12:24:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MetodoPago](
	[idMetodoPago] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](40) NOT NULL,
 CONSTRAINT [PK_MetodoPago] PRIMARY KEY CLUSTERED 
(
	[idMetodoPago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_MetodoPago_nombre] UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MovimientoInventario]    Script Date: 21/10/2025 12:24:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MovimientoInventario](
	[idMovimiento] [int] IDENTITY(1,1) NOT NULL,
	[cantidad] [int] NOT NULL,
	[costoUnitario] [decimal](12, 2) NOT NULL,
	[costoTotal] [decimal](12, 2) NOT NULL,
	[fecha] [datetime2](0) NOT NULL,
	[observaciones] [nvarchar](300) NULL,
	[idTipoMovimiento] [int] NOT NULL,
	[idProducto] [int] NOT NULL,
	[idUsuario] [int] NOT NULL,
 CONSTRAINT [PK_MovimientoInventario] PRIMARY KEY CLUSTERED 
(
	[idMovimiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orden]    Script Date: 21/10/2025 12:24:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orden](
	[idOrden] [int] IDENTITY(1,1) NOT NULL,
	[fechaHora] [datetime2](0) NOT NULL,
	[idEstadoOrden] [int] NOT NULL,
	[idCuenta] [int] NOT NULL,
 CONSTRAINT [PK_Orden] PRIMARY KEY CLUSTERED 
(
	[idOrden] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pago]    Script Date: 21/10/2025 12:24:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pago](
	[idPago] [int] IDENTITY(1,1) NOT NULL,
	[fechaHora] [datetime2](0) NOT NULL,
	[monto] [decimal](12, 2) NOT NULL,
	[numeroReferencia] [nvarchar](100) NULL,
	[idMetodoPago] [int] NOT NULL,
	[idCuenta] [int] NOT NULL,
	[idCierreCaja] [int] NULL,
 CONSTRAINT [PK_Pago] PRIMARY KEY CLUSTERED 
(
	[idPago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Producto]    Script Date: 21/10/2025 12:24:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Producto](
	[idProducto] [int] IDENTITY(1,1) NOT NULL,
	[codigo] [nvarchar](50) NOT NULL,
	[nombre] [nvarchar](120) NOT NULL,
	[descripcion] [nvarchar](300) NULL,
	[precioCompra] [decimal](12, 2) NOT NULL,
	[precioVenta] [decimal](12, 2) NOT NULL,
	[stockActual] [int] NOT NULL,
	[stockMinimo] [int] NOT NULL,
	[idCategoriaProducto] [int] NOT NULL,
	[precioAlquiler] [numeric](10, 2) NULL,
 CONSTRAINT [PK_Producto] PRIMARY KEY CLUSTERED 
(
	[idProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Producto_codigo] UNIQUE NONCLUSTERED 
(
	[codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProgramaFidelizacion]    Script Date: 21/10/2025 12:24:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProgramaFidelizacion](
	[idPrograma] [int] IDENTITY(1,1) NOT NULL,
	[visitasParaDescuento] [int] NOT NULL,
	[porcentajeDescuento] [decimal](5, 2) NOT NULL,
	[descuentoCumpleanos] [bit] NOT NULL,
	[montoDescuentoCumpleanos] [decimal](12, 2) NOT NULL,
 CONSTRAINT [PK_ProgramaFidelizacion] PRIMARY KEY CLUSTERED 
(
	[idPrograma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reporte]    Script Date: 21/10/2025 12:24:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reporte](
	[idReporte] [int] IDENTITY(1,1) NOT NULL,
	[titulo] [nvarchar](150) NOT NULL,
	[fechaGeneracion] [datetime2](0) NOT NULL,
	[periodoInicio] [datetime2](0) NULL,
	[periodoFin] [datetime2](0) NULL,
	[formato] [nvarchar](20) NOT NULL,
	[parametrosJSON] [nvarchar](max) NULL,
	[idTipoReporte] [int] NOT NULL,
	[idUsuarioGenerador] [int] NOT NULL,
 CONSTRAINT [PK_Reporte] PRIMARY KEY CLUSTERED 
(
	[idReporte] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rol]    Script Date: 21/10/2025 12:24:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rol](
	[idRol] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Rol] PRIMARY KEY CLUSTERED 
(
	[idRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Rol_nombre] UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoComprobante]    Script Date: 21/10/2025 12:24:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoComprobante](
	[idTipoComprobante] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_TipoComprobante] PRIMARY KEY CLUSTERED 
(
	[idTipoComprobante] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_TipoComprobante_nombre] UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoEgreso]    Script Date: 21/10/2025 12:24:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoEgreso](
	[idTipoEgreso] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TipoEgreso] PRIMARY KEY CLUSTERED 
(
	[idTipoEgreso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_TipoEgreso_nombre] UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoMovimiento]    Script Date: 21/10/2025 12:24:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoMovimiento](
	[idTipoMovimiento] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](40) NOT NULL,
 CONSTRAINT [PK_TipoMovimiento] PRIMARY KEY CLUSTERED 
(
	[idTipoMovimiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_TipoMovimiento_nombre] UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoReporte]    Script Date: 21/10/2025 12:24:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoReporte](
	[idTipoReporte] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TipoReporte] PRIMARY KEY CLUSTERED 
(
	[idTipoReporte] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_TipoReporte_nombre] UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 21/10/2025 12:24:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[idUsuario] [int] IDENTITY(1,1) NOT NULL,
	[nombreUsuario] [nvarchar](50) NOT NULL,
	[contraseniaHash] [nvarchar](200) NOT NULL,
	[correo] [nvarchar](150) NULL,
	[fechaCreacion] [datetime2](0) NOT NULL,
	[activo] [bit] NOT NULL,
	[idRol] [int] NOT NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[idUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Usuario_nombreUsuario] UNIQUE NONCLUSTERED 
(
	[nombreUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CierreCaja] ADD  CONSTRAINT [DF_CierreCaja_totalEntradas]  DEFAULT ((0)) FOR [totalEntradas]
GO
ALTER TABLE [dbo].[CierreCaja] ADD  CONSTRAINT [DF_CierreCaja_totalBarra]  DEFAULT ((0)) FOR [totalBarra]
GO
ALTER TABLE [dbo].[CierreCaja] ADD  CONSTRAINT [DF_CierreCaja_totalAccesorios]  DEFAULT ((0)) FOR [totalAccesorios]
GO
ALTER TABLE [dbo].[CierreCaja] ADD  CONSTRAINT [DF_CierreCaja_totalEfectivo]  DEFAULT ((0)) FOR [totalEfectivo]
GO
ALTER TABLE [dbo].[CierreCaja] ADD  CONSTRAINT [DF_CierreCaja_totalTarjeta]  DEFAULT ((0)) FOR [totalTarjeta]
GO
ALTER TABLE [dbo].[CierreCaja] ADD  CONSTRAINT [DF_CierreCaja_totalIngresos]  DEFAULT ((0)) FOR [totalIngresos]
GO
ALTER TABLE [dbo].[CierreCaja] ADD  CONSTRAINT [DF_CierreCaja_totalEgresos]  DEFAULT ((0)) FOR [totalEgresos]
GO
ALTER TABLE [dbo].[CierreCaja] ADD  CONSTRAINT [DF_CierreCaja_gananciaNeta]  DEFAULT ((0)) FOR [gananciaNeta]
GO
ALTER TABLE [dbo].[Cliente] ADD  CONSTRAINT [DF_Cliente_fechaRegistro]  DEFAULT (sysutcdatetime()) FOR [fechaRegistro]
GO
ALTER TABLE [dbo].[Cliente] ADD  CONSTRAINT [DF_Cliente_visitasTotales]  DEFAULT ((0)) FOR [visitasTotales]
GO
ALTER TABLE [dbo].[Cliente] ADD  CONSTRAINT [DF_Cliente_activo]  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[Comprobante] ADD  CONSTRAINT [DF_Comprobante_fechaEmision]  DEFAULT (sysutcdatetime()) FOR [fechaEmision]
GO
ALTER TABLE [dbo].[Comprobante] ADD  CONSTRAINT [DF_Comprobante_subtotal]  DEFAULT ((0)) FOR [subtotal]
GO
ALTER TABLE [dbo].[Comprobante] ADD  CONSTRAINT [DF_Comprobante_igv]  DEFAULT ((0)) FOR [igv]
GO
ALTER TABLE [dbo].[Comprobante] ADD  CONSTRAINT [DF_Comprobante_total]  DEFAULT ((0)) FOR [total]
GO
ALTER TABLE [dbo].[Cuenta] ADD  CONSTRAINT [DF_Cuenta_fechaCreacion]  DEFAULT (sysutcdatetime()) FOR [fechaCreacion]
GO
ALTER TABLE [dbo].[Cuenta] ADD  CONSTRAINT [DF_Cuenta_subtotalEntrada]  DEFAULT ((0)) FOR [subtotalEntrada]
GO
ALTER TABLE [dbo].[Cuenta] ADD  CONSTRAINT [DF_Cuenta_subtotalConsumos]  DEFAULT ((0)) FOR [subtotalConsumos]
GO
ALTER TABLE [dbo].[Cuenta] ADD  CONSTRAINT [DF_Cuenta_descuento]  DEFAULT ((0)) FOR [descuento]
GO
ALTER TABLE [dbo].[Cuenta] ADD  CONSTRAINT [DF_Cuenta_total]  DEFAULT ((0)) FOR [total]
GO
ALTER TABLE [dbo].[DetalleConsumo] ADD  CONSTRAINT [DF_DetalleConsumo_precioUnitario]  DEFAULT ((0)) FOR [precioUnitario]
GO
ALTER TABLE [dbo].[DetalleConsumo] ADD  CONSTRAINT [DF_DetalleConsumo_subtotal]  DEFAULT ((0)) FOR [subtotal]
GO
ALTER TABLE [dbo].[Egreso] ADD  CONSTRAINT [DF_Egreso_fecha]  DEFAULT (sysutcdatetime()) FOR [fecha]
GO
ALTER TABLE [dbo].[Egreso] ADD  CONSTRAINT [DF_Egreso_recurrente]  DEFAULT ((0)) FOR [recurrente]
GO
ALTER TABLE [dbo].[Entrada] ADD  CONSTRAINT [DF_Entrada_fechaHoraIngreso]  DEFAULT (sysutcdatetime()) FOR [fechaHoraIngreso]
GO
ALTER TABLE [dbo].[MovimientoInventario] ADD  CONSTRAINT [DF_MovInv_costoTotal]  DEFAULT ((0)) FOR [costoTotal]
GO
ALTER TABLE [dbo].[MovimientoInventario] ADD  CONSTRAINT [DF_MovInv_fecha]  DEFAULT (sysutcdatetime()) FOR [fecha]
GO
ALTER TABLE [dbo].[Orden] ADD  CONSTRAINT [DF_Orden_fechaHora]  DEFAULT (sysutcdatetime()) FOR [fechaHora]
GO
ALTER TABLE [dbo].[Pago] ADD  CONSTRAINT [DF_Pago_fechaHora]  DEFAULT (sysutcdatetime()) FOR [fechaHora]
GO
ALTER TABLE [dbo].[Producto] ADD  CONSTRAINT [DF_PrecioVenta]  DEFAULT ((0)) FOR [precioVenta]
GO
ALTER TABLE [dbo].[Producto] ADD  CONSTRAINT [DF_Producto_stockActual]  DEFAULT ((0)) FOR [stockActual]
GO
ALTER TABLE [dbo].[Producto] ADD  CONSTRAINT [DF_Producto_stockMinimo]  DEFAULT ((0)) FOR [stockMinimo]
GO
ALTER TABLE [dbo].[Producto] ADD  CONSTRAINT [DF_PrecioAlquiler]  DEFAULT ((0)) FOR [precioAlquiler]
GO
ALTER TABLE [dbo].[Reporte] ADD  CONSTRAINT [DF_Reporte_fechaGeneracion]  DEFAULT (sysutcdatetime()) FOR [fechaGeneracion]
GO
ALTER TABLE [dbo].[Reporte] ADD  CONSTRAINT [DF_Reporte_formato]  DEFAULT ('PDF') FOR [formato]
GO
ALTER TABLE [dbo].[Usuario] ADD  CONSTRAINT [DF_Usuario_fechaCreacion]  DEFAULT (sysutcdatetime()) FOR [fechaCreacion]
GO
ALTER TABLE [dbo].[Usuario] ADD  CONSTRAINT [DF_Usuario_activo]  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[CierreCaja]  WITH CHECK ADD  CONSTRAINT [FK_CierreCaja_Usuario] FOREIGN KEY([idUsuarioResponsable])
REFERENCES [dbo].[Usuario] ([idUsuario])
GO
ALTER TABLE [dbo].[CierreCaja] CHECK CONSTRAINT [FK_CierreCaja_Usuario]
GO
ALTER TABLE [dbo].[Cliente]  WITH CHECK ADD  CONSTRAINT [FK_Cliente_ProgramaFidelizacion] FOREIGN KEY([idPrograma])
REFERENCES [dbo].[ProgramaFidelizacion] ([idPrograma])
GO
ALTER TABLE [dbo].[Cliente] CHECK CONSTRAINT [FK_Cliente_ProgramaFidelizacion]
GO
ALTER TABLE [dbo].[Comprobante]  WITH CHECK ADD  CONSTRAINT [FK_Comprobante_Cuenta] FOREIGN KEY([idCuenta])
REFERENCES [dbo].[Cuenta] ([idCuenta])
GO
ALTER TABLE [dbo].[Comprobante] CHECK CONSTRAINT [FK_Comprobante_Cuenta]
GO
ALTER TABLE [dbo].[Comprobante]  WITH CHECK ADD  CONSTRAINT [FK_Comprobante_TipoComprobante] FOREIGN KEY([idTipoComprobante])
REFERENCES [dbo].[TipoComprobante] ([idTipoComprobante])
GO
ALTER TABLE [dbo].[Comprobante] CHECK CONSTRAINT [FK_Comprobante_TipoComprobante]
GO
ALTER TABLE [dbo].[Cuenta]  WITH CHECK ADD  CONSTRAINT [FK_Cuenta_Cliente] FOREIGN KEY([idCliente])
REFERENCES [dbo].[Cliente] ([idCliente])
GO
ALTER TABLE [dbo].[Cuenta] CHECK CONSTRAINT [FK_Cuenta_Cliente]
GO
ALTER TABLE [dbo].[Cuenta]  WITH CHECK ADD  CONSTRAINT [FK_Cuenta_EstadoCuenta] FOREIGN KEY([idEstadoCuenta])
REFERENCES [dbo].[EstadoCuenta] ([idEstadoCuenta])
GO
ALTER TABLE [dbo].[Cuenta] CHECK CONSTRAINT [FK_Cuenta_EstadoCuenta]
GO
ALTER TABLE [dbo].[Cuenta]  WITH CHECK ADD  CONSTRAINT [FK_Cuenta_UsuarioCreador] FOREIGN KEY([idUsuarioCreador])
REFERENCES [dbo].[Usuario] ([idUsuario])
GO
ALTER TABLE [dbo].[Cuenta] CHECK CONSTRAINT [FK_Cuenta_UsuarioCreador]
GO
ALTER TABLE [dbo].[DetalleConsumo]  WITH CHECK ADD  CONSTRAINT [FK_DetalleConsumo_Orden] FOREIGN KEY([idOrden])
REFERENCES [dbo].[Orden] ([idOrden])
GO
ALTER TABLE [dbo].[DetalleConsumo] CHECK CONSTRAINT [FK_DetalleConsumo_Orden]
GO
ALTER TABLE [dbo].[DetalleConsumo]  WITH CHECK ADD  CONSTRAINT [FK_DetalleConsumo_Producto] FOREIGN KEY([idProducto])
REFERENCES [dbo].[Producto] ([idProducto])
GO
ALTER TABLE [dbo].[DetalleConsumo] CHECK CONSTRAINT [FK_DetalleConsumo_Producto]
GO
ALTER TABLE [dbo].[Egreso]  WITH CHECK ADD  CONSTRAINT [FK_Egreso_FlujoCaja] FOREIGN KEY([idFlujoCaja])
REFERENCES [dbo].[FlujoCaja] ([idFlujoCaja])
GO
ALTER TABLE [dbo].[Egreso] CHECK CONSTRAINT [FK_Egreso_FlujoCaja]
GO
ALTER TABLE [dbo].[Egreso]  WITH CHECK ADD  CONSTRAINT [FK_Egreso_TipoEgreso] FOREIGN KEY([idTipoEgreso])
REFERENCES [dbo].[TipoEgreso] ([idTipoEgreso])
GO
ALTER TABLE [dbo].[Egreso] CHECK CONSTRAINT [FK_Egreso_TipoEgreso]
GO
ALTER TABLE [dbo].[Entrada]  WITH CHECK ADD  CONSTRAINT [FK_Entrada_Cliente] FOREIGN KEY([idCliente])
REFERENCES [dbo].[Cliente] ([idCliente])
GO
ALTER TABLE [dbo].[Entrada] CHECK CONSTRAINT [FK_Entrada_Cliente]
GO
ALTER TABLE [dbo].[Entrada]  WITH CHECK ADD  CONSTRAINT [FK_Entrada_Cuenta] FOREIGN KEY([idCuenta])
REFERENCES [dbo].[Cuenta] ([idCuenta])
GO
ALTER TABLE [dbo].[Entrada] CHECK CONSTRAINT [FK_Entrada_Cuenta]
GO
ALTER TABLE [dbo].[Entrada]  WITH CHECK ADD  CONSTRAINT [FK_Entrada_EstadoEntrada] FOREIGN KEY([idEstadoEntrada])
REFERENCES [dbo].[EstadoEntrada] ([idEstadoEntrada])
GO
ALTER TABLE [dbo].[Entrada] CHECK CONSTRAINT [FK_Entrada_EstadoEntrada]
GO
ALTER TABLE [dbo].[MovimientoInventario]  WITH CHECK ADD  CONSTRAINT [FK_MovInv_Producto] FOREIGN KEY([idProducto])
REFERENCES [dbo].[Producto] ([idProducto])
GO
ALTER TABLE [dbo].[MovimientoInventario] CHECK CONSTRAINT [FK_MovInv_Producto]
GO
ALTER TABLE [dbo].[MovimientoInventario]  WITH CHECK ADD  CONSTRAINT [FK_MovInv_TipoMovimiento] FOREIGN KEY([idTipoMovimiento])
REFERENCES [dbo].[TipoMovimiento] ([idTipoMovimiento])
GO
ALTER TABLE [dbo].[MovimientoInventario] CHECK CONSTRAINT [FK_MovInv_TipoMovimiento]
GO
ALTER TABLE [dbo].[MovimientoInventario]  WITH CHECK ADD  CONSTRAINT [FK_MovInv_Usuario] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[Usuario] ([idUsuario])
GO
ALTER TABLE [dbo].[MovimientoInventario] CHECK CONSTRAINT [FK_MovInv_Usuario]
GO
ALTER TABLE [dbo].[Orden]  WITH CHECK ADD  CONSTRAINT [FK_Orden_Cuenta] FOREIGN KEY([idCuenta])
REFERENCES [dbo].[Cuenta] ([idCuenta])
GO
ALTER TABLE [dbo].[Orden] CHECK CONSTRAINT [FK_Orden_Cuenta]
GO
ALTER TABLE [dbo].[Orden]  WITH CHECK ADD  CONSTRAINT [FK_Orden_EstadoOrden] FOREIGN KEY([idEstadoOrden])
REFERENCES [dbo].[EstadoOrden] ([idEstadoOrden])
GO
ALTER TABLE [dbo].[Orden] CHECK CONSTRAINT [FK_Orden_EstadoOrden]
GO
ALTER TABLE [dbo].[Pago]  WITH CHECK ADD  CONSTRAINT [FK_Pago_CierreCaja] FOREIGN KEY([idCierreCaja])
REFERENCES [dbo].[CierreCaja] ([idCierreCaja])
GO
ALTER TABLE [dbo].[Pago] CHECK CONSTRAINT [FK_Pago_CierreCaja]
GO
ALTER TABLE [dbo].[Pago]  WITH CHECK ADD  CONSTRAINT [FK_Pago_Cuenta] FOREIGN KEY([idCuenta])
REFERENCES [dbo].[Cuenta] ([idCuenta])
GO
ALTER TABLE [dbo].[Pago] CHECK CONSTRAINT [FK_Pago_Cuenta]
GO
ALTER TABLE [dbo].[Pago]  WITH CHECK ADD  CONSTRAINT [FK_Pago_MetodoPago] FOREIGN KEY([idMetodoPago])
REFERENCES [dbo].[MetodoPago] ([idMetodoPago])
GO
ALTER TABLE [dbo].[Pago] CHECK CONSTRAINT [FK_Pago_MetodoPago]
GO
ALTER TABLE [dbo].[Producto]  WITH CHECK ADD  CONSTRAINT [FK_Producto_CategoriaProducto] FOREIGN KEY([idCategoriaProducto])
REFERENCES [dbo].[CategoriaProducto] ([idCategoriaProducto])
GO
ALTER TABLE [dbo].[Producto] CHECK CONSTRAINT [FK_Producto_CategoriaProducto]
GO
ALTER TABLE [dbo].[Reporte]  WITH CHECK ADD  CONSTRAINT [FK_Reporte_TipoReporte] FOREIGN KEY([idTipoReporte])
REFERENCES [dbo].[TipoReporte] ([idTipoReporte])
GO
ALTER TABLE [dbo].[Reporte] CHECK CONSTRAINT [FK_Reporte_TipoReporte]
GO
ALTER TABLE [dbo].[Reporte]  WITH CHECK ADD  CONSTRAINT [FK_Reporte_Usuario] FOREIGN KEY([idUsuarioGenerador])
REFERENCES [dbo].[Usuario] ([idUsuario])
GO
ALTER TABLE [dbo].[Reporte] CHECK CONSTRAINT [FK_Reporte_Usuario]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Rol] FOREIGN KEY([idRol])
REFERENCES [dbo].[Rol] ([idRol])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usuario_Rol]
GO
ALTER TABLE [dbo].[Comprobante]  WITH CHECK ADD  CONSTRAINT [CK_Comprobante_importes_nonneg] CHECK  (([subtotal]>=(0) AND [igv]>=(0) AND [total]>=(0)))
GO
ALTER TABLE [dbo].[Comprobante] CHECK CONSTRAINT [CK_Comprobante_importes_nonneg]
GO
ALTER TABLE [dbo].[Cuenta]  WITH CHECK ADD  CONSTRAINT [CK_Cuenta_importes_nonneg] CHECK  (([subtotalEntrada]>=(0) AND [subtotalConsumos]>=(0) AND [descuento]>=(0) AND [total]>=(0)))
GO
ALTER TABLE [dbo].[Cuenta] CHECK CONSTRAINT [CK_Cuenta_importes_nonneg]
GO
ALTER TABLE [dbo].[DetalleConsumo]  WITH CHECK ADD  CONSTRAINT [CK_DetalleConsumo_cantidad_pos] CHECK  (([cantidad]>(0)))
GO
ALTER TABLE [dbo].[DetalleConsumo] CHECK CONSTRAINT [CK_DetalleConsumo_cantidad_pos]
GO
ALTER TABLE [dbo].[DetalleConsumo]  WITH CHECK ADD  CONSTRAINT [CK_DetalleConsumo_importes_nonneg] CHECK  (([precioUnitario]>=(0) AND [subtotal]>=(0)))
GO
ALTER TABLE [dbo].[DetalleConsumo] CHECK CONSTRAINT [CK_DetalleConsumo_importes_nonneg]
GO
ALTER TABLE [dbo].[Egreso]  WITH CHECK ADD  CONSTRAINT [CK_Egreso_monto_pos] CHECK  (([monto]>(0)))
GO
ALTER TABLE [dbo].[Egreso] CHECK CONSTRAINT [CK_Egreso_monto_pos]
GO
ALTER TABLE [dbo].[MovimientoInventario]  WITH CHECK ADD  CONSTRAINT [CK_MovInv_cantidad_pos] CHECK  (([cantidad]>(0)))
GO
ALTER TABLE [dbo].[MovimientoInventario] CHECK CONSTRAINT [CK_MovInv_cantidad_pos]
GO
ALTER TABLE [dbo].[MovimientoInventario]  WITH CHECK ADD  CONSTRAINT [CK_MovInv_costos_nonneg] CHECK  (([costoUnitario]>=(0) AND [costoTotal]>=(0)))
GO
ALTER TABLE [dbo].[MovimientoInventario] CHECK CONSTRAINT [CK_MovInv_costos_nonneg]
GO
ALTER TABLE [dbo].[Pago]  WITH CHECK ADD  CONSTRAINT [CK_Pago_monto_pos] CHECK  (([monto]>(0)))
GO
ALTER TABLE [dbo].[Pago] CHECK CONSTRAINT [CK_Pago_monto_pos]
GO
ALTER TABLE [dbo].[Producto]  WITH CHECK ADD  CONSTRAINT [CK_Producto_precios_nonneg] CHECK  (([precioCompra]>=(0) AND [precioVenta]>=(0)))
GO
ALTER TABLE [dbo].[Producto] CHECK CONSTRAINT [CK_Producto_precios_nonneg]
GO
ALTER TABLE [dbo].[Producto]  WITH CHECK ADD  CONSTRAINT [CK_Producto_stocks_nonneg] CHECK  (([stockActual]>=(0) AND [stockMinimo]>=(0)))
GO
ALTER TABLE [dbo].[Producto] CHECK CONSTRAINT [CK_Producto_stocks_nonneg]
GO
/****** Object:  StoredProcedure [dbo].[sp_ActualizarProducto]    Script Date: 21/10/2025 12:24:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ActualizarProducto]
    @idProducto INT,
    @codigo NVARCHAR(50),
    @nombre NVARCHAR(120),
    @descripcion NVARCHAR(300),
    @precioCompra DECIMAL(12,2),
    @precioVenta DECIMAL(12,2),
    @precioAlquiler DECIMAL(12,2),  -- <- agregado
    @stockActual INT,
    @stockMinimo INT,
    @idCategoriaProducto INT
AS
BEGIN
    UPDATE Producto
    SET codigo = @codigo,
        nombre = @nombre,
        descripcion = @descripcion,
        precioCompra = @precioCompra,
        precioVenta = @precioVenta,
        precioAlquiler = @precioAlquiler,  -- <- agregado
        stockActual = @stockActual,
        stockMinimo = @stockMinimo,
        idCategoriaProducto = @idCategoriaProducto
    WHERE idProducto = @idProducto;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_EliminarProducto]    Script Date: 21/10/2025 12:24:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_EliminarProducto]
    @idProducto INT
AS
BEGIN
    DELETE FROM Producto WHERE idProducto = @idProducto;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertarProducto]    Script Date: 21/10/2025 12:24:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertarProducto]
    @codigo NVARCHAR(50),
    @nombre NVARCHAR(120),
    @descripcion NVARCHAR(300),
    @precioCompra DECIMAL(12,2),
    @precioVenta DECIMAL(12,2),
    @precioAlquiler DECIMAL(12,2),  -- <- agregado
    @stockActual INT,
    @stockMinimo INT,
    @idCategoriaProducto INT
AS
BEGIN
    INSERT INTO Producto (codigo, nombre, descripcion, precioCompra, precioVenta, precioAlquiler, stockActual, stockMinimo, idCategoriaProducto)
    VALUES (@codigo, @nombre, @descripcion, @precioCompra, @precioVenta, @precioAlquiler, @stockActual, @stockMinimo, @idCategoriaProducto);
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_MostrarCategorias]    Script Date: 21/10/2025 12:24:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_MostrarCategorias]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        idCategoriaProducto,
        nombre AS nombreCategoria
    FROM CategoriaProducto
    ORDER BY nombre;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_MostrarProductos]    Script Date: 21/10/2025 12:24:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_MostrarProductos]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        p.idProducto,
        p.codigo,
        p.nombre,
        p.descripcion,
        p.precioCompra,
        p.precioVenta,
        p.precioAlquiler,
        p.stockActual,
        p.stockMinimo,
        p.idCategoriaProducto,
        c.nombre AS nombreCategoria
    FROM Producto p
    INNER JOIN CategoriaProducto c
        ON p.idCategoriaProducto = c.idCategoriaProducto;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ValidarLogin]    Script Date: 21/10/2025 12:24:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_ValidarLogin]
    @identificador NVARCHAR(50), -- Puede ser nombreUsuario o correo
    @contraseniaHash NVARCHAR(200)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT U.idUsuario, U.nombreUsuario, U.correo, U.idRol, R.nombre AS Rol
    FROM Usuario U
    INNER JOIN Rol R ON U.idRol = R.idRol
    WHERE (U.nombreUsuario = @identificador OR U.correo = @identificador)
      AND U.contraseniaHash = @contraseniaHash
      AND U.activo = 1;
END

-- Eliminacion de usuarios creados anteriormente

select * from Usuario

delete Usuario ;

-- =====================================================
-- INSERTAR DATOS MAESTROS 
-- =====================================================

--  ROLES
INSERT INTO Rol (nombre) VALUES 
('Administrador'),
('Cajero/Recepcionista');


--  PROGRAMA DE FIDELIZACIÓN
INSERT INTO ProgramaFidelizacion (visitasParaDescuento, porcentajeDescuento, descuentoCumpleanos, montoDescuentoCumpleanos)
VALUES (5, 10.00, 1, 5.00);
PRINT ' Programa de fidelización creado (5 visitas = 10% descuento)';

--  ESTADOS DE ENTRADA
INSERT INTO EstadoEntrada (nombre) VALUES 
('Activo'),
('Finalizado'),
('Cancelado');


--  ESTADOS DE CUENTA
INSERT INTO EstadoCuenta (nombre) VALUES 
('Pendiente'),
('Pagada'),
('Cancelada');


--  ESTADOS DE ORDEN
INSERT INTO EstadoOrden (nombre) VALUES 
('Pendiente'),
('Entregada'),
('Cancelada');


--  CATEGORÍAS DE PRODUCTOS
INSERT INTO CategoriaProducto (nombre) VALUES 
('Bebidas Frías'),
('Bebidas Calientes'),
('Snacks'),
('Accesorios'),
('Servicios');


--  TIPOS DE MOVIMIENTO INVENTARIO
INSERT INTO TipoMovimiento (nombre) VALUES 
('Entrada'),
('Salida');


--  MÉTODOS DE PAGO
INSERT INTO MetodoPago (nombre) VALUES 
('Efectivo'),
('Tarjeta'),
('Yape'),
('Plin');


--  TIPOS DE COMPROBANTE
INSERT INTO TipoComprobante (nombre) VALUES 
('Boleta'),
('Factura'),
('Ticket');


--  TIPOS DE EGRESO
INSERT INTO TipoEgreso (nombre) VALUES 
('Servicios Básicos'),
('Alquiler'),
('Sueldos'),
('Compra Mercadería'),
('Mantenimiento'),
('Otros');

select * from Usuario

--  TIPOS DE REPORTE
INSERT INTO TipoReporte (nombre) VALUES 
('Ingresos Diarios'),
('Ventas por Producto'),
('Clientes Frecuentes'),
('Flujo de Caja'),
('Inventario Bajo Stock');


--  FLUJO DE CAJA INICIAL
INSERT INTO FlujoCaja (periodo, totalIngresos, totalEgresos, saldoInicial, saldoFinal, utilidadNeta)
VALUES ('2025-10-01', 0.00, 0.00, 500.00, 500.00, 0.00);

-- =====================================================
-- 2 INSERTAR DATOS DE PRUEBA
-- =====================================================

--  admin      CONTRA     admin123
--  cajero1    CONTRA    cajero123

--  USUARIOS DEL SISTEMA
INSERT INTO Usuario (nombreUsuario, contraseniaHash, correo, idRol, activo) 
VALUES 
('admin', '1o7DiXMouiKbAge5eRLsIBd/pXtuJH9tyDXWDkiDQu0=', 'admin@saunakalixto.com', 1, 1),
('cajero1', 'QlDcshduVIjym22wku+1W5uANBxGLZxx/pnN6fGK6Lg=', 'cajero1@saunakalixto.com', 2, 1);

--  CLIENTES DE PRUEBA (SIN HISTORIAL)
-- ✅ TODOS con visitasTotales = 0 (sin compras previas)
-- 📌 Base de datos lista para empezar a registrar desde el sistema
INSERT INTO Cliente (nombre, apellidos, documento, telefono, correo, direccion, visitasTotales, idPrograma, activo)
VALUES 
('Carlos', 'Mendoza Ríos', '12345678', '987654321', 'carlos.mendoza@gmail.com', 'Av. Los Incas 123', 0, 1, 1),
('María', 'Torres Vargas', '23456789', '976543210', 'maria.torres@gmail.com', 'Jr. Cusco 456', 0, 1, 1),
('Juan', 'Pérez López', '34567890', '965432109', 'juan.perez@gmail.com', 'Av. El Sol 789', 0, 1, 1),
('Ana', 'García Flores', '45678901', '954321098', 'ana.garcia@gmail.com', 'Calle Lima 321', 0, 1, 1),
('Luis', 'Chávez Ramos', '56789012', '943210987', NULL, NULL, 0, 1, 1);


--  PRODUCTOS DE PRUEBA
-- 📌 NOTA IMPORTANTE sobre PRODUCTOS vs SERVICIOS:
--    ┌─────────────────────┬──────────────────┬───────────────┬─────────────────────┐
--    │ TIPO                │ precioCompra     │ stockActual   │ EJEMPLO             │
--    ├─────────────────────┼──────────────────┼───────────────┼─────────────────────┤
--    │ Productos Físicos   │ > 0 (costo real) │ cantidad real │ Cerveza, Papas      │
--    │ Servicios Barra     │ > 0 (insumos)    │ 999999        │ Café, Sandwich      │
--    │ Servicios Puros     │ = 0 (sin costo)  │ 999999        │ Masajes             │
--    └─────────────────────┴──────────────────┴───────────────┴─────────────────────┘
--    ⚠️ La ENTRADA BÁSICA al sauna NO está aquí, está en tabla Entrada.precioEntrada

-- Bebidas Frías (idCategoria = 1) - Productos físicos
INSERT INTO Producto (codigo, nombre, descripcion, precioCompra, precioVenta, stockActual, stockMinimo, idCategoriaProducto)
VALUES 
('BEB-001', 'Agua Mineral 500ml', 'Agua embotellada', 1.00, 2.50, 100, 20, 1),
('BEB-002', 'Gaseosa Inca Kola 500ml', 'Gaseosa personal', 2.00, 4.00, 50, 10, 1),
('BEB-003', 'Cerveza Cusqueña 330ml', 'Cerveza nacional', 3.50, 7.00, 60, 15, 1),
('BEB-004', 'Jugo de Naranja Natural', 'Jugo recién exprimido', 2.50, 5.00, 30, 5, 1);


-- Bebidas Calientes (idCategoria = 2) - Servicios de barra (stock ilimitado)
INSERT INTO Producto (codigo, nombre, descripcion, precioCompra, precioVenta, stockActual, stockMinimo, idCategoriaProducto)
VALUES 
('CAF-001', 'Café Americano', 'Café solo', 1.00, 3.00, 999999, 0, 2),
('CAF-002', 'Café con Leche', 'Café con leche', 1.50, 4.00, 999999, 0, 2),
('TÉ-001', 'Té de Manzanilla', 'Infusión relajante', 0.50, 2.50, 999999, 0, 2);


-- Snacks (idCategoria = 3) - Mixto (físicos + preparados)
INSERT INTO Producto (codigo, nombre, descripcion, precioCompra, precioVenta, stockActual, stockMinimo, idCategoriaProducto)
VALUES 
('SNK-001', 'Galletas Soda Field', 'Paquete 6 unidades', 1.50, 3.50, 40, 10, 3),
('SNK-002', 'Papas Lays 45g', 'Papas fritas originales', 1.80, 4.00, 60, 15, 3),
('SNK-003', 'Chocolate Sublime', 'Chocolate con maní', 2.00, 4.50, 50, 10, 3),
('SNK-004', 'Sandwich Mixto', 'Pan, jamón, queso', 3.00, 8.00, 999999, 0, 3); -- Servicio

-- Accesorios (idCategoria = 4) - Productos físicos
INSERT INTO Producto (codigo, nombre, descripcion, precioCompra, precioVenta, stockActual, stockMinimo, idCategoriaProducto)
VALUES 
('ACC-001', 'Toalla Grande', 'Toalla de baño 70x140cm', 10.00, 15.00, 30, 5, 4),
('ACC-002', 'Sandalias Desechables', 'Par de sandalias', 2.00, 5.00, 50, 10, 4),
('ACC-003', 'Shampoo Sachet', 'Shampoo individual', 0.50, 2.00, 100, 20, 4);


-- Servicios (idCategoria = 5) - Servicios puros (sin costo de adquisición)
INSERT INTO Producto (codigo, nombre, descripcion, precioCompra, precioVenta, stockActual, stockMinimo, idCategoriaProducto)
VALUES 
('SRV-001', 'Masaje Relajante 30min', 'Masaje espalda y cuello', 0.00, 50.00, 999999, 0, 5),
('SRV-002', 'Tratamiento Facial', 'Limpieza profunda', 0.00, 80.00, 999999, 0, 5);


-- =====================================================
--  VERIFICACIÓN FINAL - TODAS LAS 25 TABLAS
-- =====================================================

-- ✅ Verificar que las 25 tablas tienen datos correctos
SELECT 'Rol' AS Tabla, COUNT(*) AS Registros FROM Rol
UNION ALL SELECT 'ProgramaFidelizacion', COUNT(*) FROM ProgramaFidelizacion
UNION ALL SELECT 'EstadoEntrada', COUNT(*) FROM EstadoEntrada
UNION ALL SELECT 'EstadoCuenta', COUNT(*) FROM EstadoCuenta
UNION ALL SELECT 'EstadoOrden', COUNT(*) FROM EstadoOrden
UNION ALL SELECT 'CategoriaProducto', COUNT(*) FROM CategoriaProducto
UNION ALL SELECT 'TipoMovimiento', COUNT(*) FROM TipoMovimiento
UNION ALL SELECT 'MetodoPago', COUNT(*) FROM MetodoPago
UNION ALL SELECT 'TipoComprobante', COUNT(*) FROM TipoComprobante
UNION ALL SELECT 'TipoEgreso', COUNT(*) FROM TipoEgreso
UNION ALL SELECT 'TipoReporte', COUNT(*) FROM TipoReporte
UNION ALL SELECT 'Usuario', COUNT(*) FROM Usuario
UNION ALL SELECT 'Cliente', COUNT(*) FROM Cliente
UNION ALL SELECT 'Producto', COUNT(*) FROM Producto
UNION ALL SELECT 'FlujoCaja', COUNT(*) FROM FlujoCaja
UNION ALL SELECT '--- TABLAS TRANSACCIONALES (deben estar en 0) ---', NULL
UNION ALL SELECT 'CierreCaja', COUNT(*) FROM CierreCaja
UNION ALL SELECT 'Cuenta', COUNT(*) FROM Cuenta
UNION ALL SELECT 'Entrada', COUNT(*) FROM Entrada
UNION ALL SELECT 'Orden', COUNT(*) FROM Orden
UNION ALL SELECT 'DetalleConsumo', COUNT(*) FROM DetalleConsumo
UNION ALL SELECT 'MovimientoInventario', COUNT(*) FROM MovimientoInventario
UNION ALL SELECT 'Pago', COUNT(*) FROM Pago
UNION ALL SELECT 'Comprobante', COUNT(*) FROM Comprobante
UNION ALL SELECT 'Egreso', COUNT(*) FROM Egreso
UNION ALL SELECT 'Reporte', COUNT(*) FROM Reporte;

-- 📦 Ver productos por categoría con tipo de producto
SELECT 
  c.nombre AS Categoria,
  p.codigo,
  p.nombre AS Producto,
  'S/. ' + CAST(p.precioVenta AS VARCHAR) AS Precio,
  p.stockActual AS Stock,
  CASE 
    WHEN p.precioCompra = 0 AND p.stockActual = 999999 THEN 'Servicio Puro'
    WHEN p.precioCompra > 0 AND p.stockActual = 999999 THEN 'Servicio Barra'
    WHEN p.stockActual = 0 THEN 'Sin Stock'
    WHEN p.stockActual <= p.stockMinimo THEN 'Stock Bajo'
    ELSE 'Stock bueno'
  END AS TipoEstado
FROM Producto p
INNER JOIN CategoriaProducto c ON p.idCategoriaProducto = c.idCategoriaProducto
ORDER BY c.nombre, p.nombre;

-- 👥 Ver clientes (TODOS deben tener visitasTotales = 0)
SELECT 
  nombre + ' ' + apellidos AS Cliente,
  telefono,
  visitasTotales AS Visitas,
  CASE 
    WHEN visitasTotales = 0 THEN 'Cliente nuevo (sin historial)'
    ELSE 'ERROR: Tiene visitas pero sin registros en BD'
  END AS Estado
FROM Cliente
ORDER BY nombre;

PRINT '';
PRINT '============================================================';
PRINT 'VERIFICACIÓN COMPLETA';
PRINT '============================================================';
PRINT 'Tablas con datos maestros: 15 (catálogos + entidades)';
PRINT 'Tablas transaccionales vacías: 10 (listas para usar)';
PRINT 'TOTAL: 25 tablas verificadas';
PRINT '';
PRINT 'Base de datos lista para desarrollo';
PRINT 'Todos los clientes con visitasTotales = 0 (sin historial)';
PRINT 'Productos clasificados correctamente (físicos vs servicios)';
PRINT '============================================================';
GO
