USE [master]
GO
/****** Object:  Database [ProyectoSauna]    Script Date: 12/12/2025 19:31:35 ******/
CREATE DATABASE [ProyectoSauna]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ProyectoSauna', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ProyectoSauna.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ProyectoSauna_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ProyectoSauna_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ProyectoSauna].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ProyectoSauna]
GO
/****** Object:  Table [dbo].[CabEgreso]    Script Date: 12/12/2025 19:31:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CabEgreso](
	[idCabEgreso] [int] IDENTITY(1,1) NOT NULL,
	[fecha] [datetime2](0) NOT NULL,
	[montoTotal] [decimal](12, 2) NULL,
	[idUsuario] [int] NULL,
 CONSTRAINT [PK_CabEgreso] PRIMARY KEY CLUSTERED 
(
	[idCabEgreso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CategoriaProducto]    Script Date: 12/12/2025 19:31:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoriaProducto](
	[idCategoriaProducto] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](80) NOT NULL,
	[descripcion] [nvarchar](300) NULL,
	[activo] [bit] NOT NULL,
 CONSTRAINT [PK_CategoriaProducto] PRIMARY KEY CLUSTERED 
(
	[idCategoriaProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_CategoriaProducto_nombre] UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CategoriaServicio]    Script Date: 12/12/2025 19:31:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoriaServicio](
	[idCategoriaServicio] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idCategoriaServicio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_CategoriaServicio_nombre] UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 12/12/2025 19:31:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[idCliente] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](80) NOT NULL,
	[apellidos] [nvarchar](120) NOT NULL,
	[numero_documento] [nvarchar](20) NULL,
	[telefono] [nvarchar](30) NULL,
	[correo] [nvarchar](150) NULL,
	[direccion] [nvarchar](200) NULL,
	[fechaNacimiento] [date] NULL,
	[fechaRegistro] [datetime2](0) NOT NULL,
	[visitasTotales] [int] NOT NULL,
	[activo] [bit] NOT NULL,
 CONSTRAINT [PK_Cliente] PRIMARY KEY CLUSTERED 
(
	[idCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comprobante]    Script Date: 12/12/2025 19:31:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comprobante](
	[idComprobante] [int] IDENTITY(1,1) NOT NULL,
	[serie] [nvarchar](10) NOT NULL,
	[numero] [nvarchar](15) NOT NULL,
	[fechaEmision] [datetime2](0) NOT NULL,
	[subtotal] [decimal](12, 2) NOT NULL,
	[igv] [decimal](12, 2) NOT NULL,
	[total] [decimal](12, 2) NOT NULL,
	[idTipoComprobante] [int] NOT NULL,
	[idCuenta] [int] NOT NULL,
 CONSTRAINT [PK_Comprobante] PRIMARY KEY CLUSTERED 
(
	[idComprobante] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Comprobante_idCuenta] UNIQUE NONCLUSTERED 
(
	[idCuenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Comprobante_SerieNumero] UNIQUE NONCLUSTERED 
(
	[serie] ASC,
	[numero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cuenta]    Script Date: 12/12/2025 19:31:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cuenta](
	[idCuenta] [int] IDENTITY(1,1) NOT NULL,
	[fechaHoraCreacion] [datetime2](0) NOT NULL,
	[fechaHoraSalida] [datetime] NULL,
	[subtotalConsumos] [decimal](12, 2) NOT NULL,
	[descuentos] [decimal](12, 2) NOT NULL,
	[total] [decimal](12, 2) NOT NULL,
	[idEstadoCuenta] [int] NOT NULL,
	[idUsuarioCreador] [int] NOT NULL,
	[idCliente] [int] NOT NULL,
	[idPromocion] [int] NULL,
	[montoPagado] [decimal](18, 2) NOT NULL,
	[saldo] [decimal](18, 2) NOT NULL,
	[horaEntrada] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_Cuenta] PRIMARY KEY CLUSTERED 
(
	[idCuenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetalleConsumo]    Script Date: 12/12/2025 19:31:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleConsumo](
	[idDetalle] [int] IDENTITY(1,1) NOT NULL,
	[cantidad] [int] NOT NULL,
	[precioUnitario] [decimal](12, 2) NOT NULL,
	[subtotal] [decimal](12, 2) NOT NULL,
	[idCuenta] [int] NOT NULL,
	[idProducto] [int] NOT NULL,
 CONSTRAINT [PK_DetalleConsumo] PRIMARY KEY CLUSTERED 
(
	[idDetalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetalleServicio]    Script Date: 12/12/2025 19:31:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleServicio](
	[idDetalleServicio] [int] IDENTITY(1,1) NOT NULL,
	[cantidad] [int] NOT NULL,
	[precioUnitario] [decimal](12, 2) NOT NULL,
	[subtotal] [decimal](12, 2) NOT NULL,
	[idCuenta] [int] NOT NULL,
	[idServicio] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idDetalleServicio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetEgreso]    Script Date: 12/12/2025 19:31:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetEgreso](
	[idDetEgreso] [int] IDENTITY(1,1) NOT NULL,
	[idCabEgreso] [int] NULL,
	[concepto] [nvarchar](200) NOT NULL,
	[monto] [decimal](12, 2) NOT NULL,
	[recurrente] [bit] NOT NULL,
	[comprobanteRuta] [varchar](80) NULL,
	[idTipoEgreso] [int] NOT NULL,
 CONSTRAINT [PK_DetEgreso] PRIMARY KEY CLUSTERED 
(
	[idDetEgreso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EstadoCuenta]    Script Date: 12/12/2025 19:31:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstadoCuenta](
	[idEstadoCuenta] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_EstadoCuenta] PRIMARY KEY CLUSTERED 
(
	[idEstadoCuenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_EstadoCuenta_nombre] UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MetodoPago]    Script Date: 12/12/2025 19:31:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MetodoPago](
	[idMetodoPago] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
 CONSTRAINT [PK_MetodoPago] PRIMARY KEY CLUSTERED 
(
	[idMetodoPago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_MetodoPago_nombre] UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MovimientoInventario]    Script Date: 12/12/2025 19:31:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MovimientoInventario](
	[idMovimiento] [int] IDENTITY(1,1) NOT NULL,
	[cantidad] [int] NOT NULL,
	[costoUnitario] [decimal](12, 2) NOT NULL,
	[costoTotal] [decimal](12, 2) NOT NULL,
	[fecha] [datetime2](0) NOT NULL,
	[observaciones] [nvarchar](300) NULL,
	[idTipoMovimiento] [int] NOT NULL,
	[idProducto] [int] NOT NULL,
	[idUsuario] [int] NOT NULL,
 CONSTRAINT [PK_MovimientoInventario] PRIMARY KEY CLUSTERED 
(
	[idMovimiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pago]    Script Date: 12/12/2025 19:31:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pago](
	[idPago] [int] IDENTITY(1,1) NOT NULL,
	[fechaHora] [datetime2](0) NOT NULL,
	[monto] [decimal](12, 2) NOT NULL,
	[numeroReferencia] [nvarchar](100) NULL,
	[idMetodoPago] [int] NOT NULL,
	[idCuenta] [int] NOT NULL,
 CONSTRAINT [PK_Pago] PRIMARY KEY CLUSTERED 
(
	[idPago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Producto]    Script Date: 12/12/2025 19:31:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Producto](
	[idProducto] [int] IDENTITY(1,1) NOT NULL,
	[codigo] [nvarchar](50) NOT NULL,
	[nombre] [nvarchar](120) NOT NULL,
	[descripcion] [nvarchar](300) NULL,
	[precioCompra] [decimal](12, 2) NOT NULL,
	[precioVenta] [decimal](18, 2) NULL,
	[stockActual] [int] NOT NULL,
	[stockMinimo] [int] NOT NULL,
	[activo] [bit] NOT NULL,
	[idCategoriaProducto] [int] NOT NULL,
	[fechaRegistro] [datetime] NOT NULL,
	[precioCosto] [decimal](18, 2) NULL,
	[unidadMedida] [nvarchar](20) NULL,
 CONSTRAINT [PK_Producto] PRIMARY KEY CLUSTERED 
(
	[idProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Producto_codigo] UNIQUE NONCLUSTERED 
(
	[codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Promociones]    Script Date: 12/12/2025 19:31:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Promociones](
	[idPromocion] [int] IDENTITY(1,1) NOT NULL,
	[nombreDescuento] [varchar](100) NOT NULL,
	[montoDescuento] [decimal](10, 2) NOT NULL,
	[idTipoDescuento] [int] NOT NULL,
	[valorCondicion] [int] NULL,
	[activo] [bit] NOT NULL,
	[motivo] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[idPromocion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rol]    Script Date: 12/12/2025 19:31:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rol](
	[idRol] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Rol] PRIMARY KEY CLUSTERED 
(
	[idRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Rol_nombre] UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Servicio]    Script Date: 12/12/2025 19:31:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Servicio](
	[idServicio] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[precio] [decimal](12, 2) NOT NULL,
	[duracionEstimada] [int] NULL,
	[activo] [bit] NOT NULL,
	[idCategoriaServicio] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[idServicio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_Servicio_codigo] UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoComprobante]    Script Date: 12/12/2025 19:31:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoComprobante](
	[idTipoComprobante] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_TipoComprobante] PRIMARY KEY CLUSTERED 
(
	[idTipoComprobante] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_TipoComprobante_nombre] UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoDescuento]    Script Date: 12/12/2025 19:31:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoDescuento](
	[idTipoDescuento] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idTipoDescuento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoEgreso]    Script Date: 12/12/2025 19:31:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoEgreso](
	[idTipoEgreso] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TipoEgreso] PRIMARY KEY CLUSTERED 
(
	[idTipoEgreso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_TipoEgreso_nombre] UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoMovimiento]    Script Date: 12/12/2025 19:31:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoMovimiento](
	[idTipoMovimiento] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](50) NOT NULL,
	[tipo] [varchar](50) NULL,
 CONSTRAINT [PK_TipoMovimiento] PRIMARY KEY CLUSTERED 
(
	[idTipoMovimiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 12/12/2025 19:31:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[idUsuario] [int] IDENTITY(1,1) NOT NULL,
	[nombreUsuario] [nvarchar](50) NOT NULL,
	[contraseniaHash] [nvarchar](200) NOT NULL,
	[correo] [nvarchar](150) NULL,
	[fechaCreacion] [datetime2](0) NOT NULL,
	[activo] [bit] NOT NULL,
	[idRol] [int] NOT NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[idUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Usuario_nombreUsuario] UNIQUE NONCLUSTERED 
(
	[nombreUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_DetalleServicio_idCuenta]    Script Date: 12/12/2025 19:31:36 ******/
CREATE NONCLUSTERED INDEX [IX_DetalleServicio_idCuenta] ON [dbo].[DetalleServicio]
(
	[idCuenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DetalleServicio_idServicio]    Script Date: 12/12/2025 19:31:36 ******/
CREATE NONCLUSTERED INDEX [IX_DetalleServicio_idServicio] ON [dbo].[DetalleServicio]
(
	[idServicio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Servicio_activo]    Script Date: 12/12/2025 19:31:36 ******/
CREATE NONCLUSTERED INDEX [IX_Servicio_activo] ON [dbo].[Servicio]
(
	[activo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Servicio_nombre]    Script Date: 12/12/2025 19:31:36 ******/
CREATE NONCLUSTERED INDEX [IX_Servicio_nombre] ON [dbo].[Servicio]
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CabEgreso] ADD  CONSTRAINT [DF_CabEgreso_fecha]  DEFAULT (sysutcdatetime()) FOR [fecha]
GO
ALTER TABLE [dbo].[CategoriaProducto] ADD  CONSTRAINT [DF_CategoriaProducto_activo]  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[CategoriaServicio] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[Cliente] ADD  CONSTRAINT [DF_Cliente_fechaRegistro]  DEFAULT (sysutcdatetime()) FOR [fechaRegistro]
GO
ALTER TABLE [dbo].[Cliente] ADD  CONSTRAINT [DF_Cliente_visitasTotales]  DEFAULT ((0)) FOR [visitasTotales]
GO
ALTER TABLE [dbo].[Cliente] ADD  CONSTRAINT [DF_Cliente_activo]  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[Comprobante] ADD  CONSTRAINT [DF_Comprobante_fechaEmision]  DEFAULT (sysutcdatetime()) FOR [fechaEmision]
GO
ALTER TABLE [dbo].[Comprobante] ADD  CONSTRAINT [DF_Comprobante_subtotal]  DEFAULT ((0)) FOR [subtotal]
GO
ALTER TABLE [dbo].[Comprobante] ADD  CONSTRAINT [DF_Comprobante_igv]  DEFAULT ((0)) FOR [igv]
GO
ALTER TABLE [dbo].[Comprobante] ADD  CONSTRAINT [DF_Comprobante_total]  DEFAULT ((0)) FOR [total]
GO
ALTER TABLE [dbo].[Cuenta] ADD  CONSTRAINT [DF_Cuenta_fechaHoraCreacion]  DEFAULT (sysutcdatetime()) FOR [fechaHoraCreacion]
GO
ALTER TABLE [dbo].[Cuenta] ADD  CONSTRAINT [DF_Cuenta_subtotalConsumos]  DEFAULT ((0)) FOR [subtotalConsumos]
GO
ALTER TABLE [dbo].[Cuenta] ADD  CONSTRAINT [DF_Cuenta_descuento]  DEFAULT ((0)) FOR [descuentos]
GO
ALTER TABLE [dbo].[Cuenta] ADD  CONSTRAINT [DF_Cuenta_total]  DEFAULT ((0)) FOR [total]
GO
ALTER TABLE [dbo].[Cuenta] ADD  DEFAULT ((0)) FOR [montoPagado]
GO
ALTER TABLE [dbo].[Cuenta] ADD  DEFAULT ((0)) FOR [saldo]
GO
ALTER TABLE [dbo].[Cuenta] ADD  DEFAULT ((0)) FOR [horaEntrada]
GO
ALTER TABLE [dbo].[DetalleConsumo] ADD  CONSTRAINT [DF_DetalleConsumo_precioUnitario]  DEFAULT ((0)) FOR [precioUnitario]
GO
ALTER TABLE [dbo].[DetalleConsumo] ADD  CONSTRAINT [DF_DetalleConsumo_subtotal]  DEFAULT ((0)) FOR [subtotal]
GO
ALTER TABLE [dbo].[DetalleServicio] ADD  DEFAULT ((1)) FOR [cantidad]
GO
ALTER TABLE [dbo].[DetEgreso] ADD  CONSTRAINT [DF_Egreso_recurrente]  DEFAULT ((0)) FOR [recurrente]
GO
ALTER TABLE [dbo].[MovimientoInventario] ADD  CONSTRAINT [DF_MovInv_costoTotal]  DEFAULT ((0)) FOR [costoTotal]
GO
ALTER TABLE [dbo].[MovimientoInventario] ADD  CONSTRAINT [DF_MovInv_fecha]  DEFAULT (sysutcdatetime()) FOR [fecha]
GO
ALTER TABLE [dbo].[Pago] ADD  CONSTRAINT [DF_Pago_fechaHora]  DEFAULT (sysutcdatetime()) FOR [fechaHora]
GO
ALTER TABLE [dbo].[Producto] ADD  CONSTRAINT [DF_Producto_stockMinimo]  DEFAULT ((0)) FOR [stockMinimo]
GO
ALTER TABLE [dbo].[Producto] ADD  CONSTRAINT [DF_Producto_activo]  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[Producto] ADD  CONSTRAINT [DF_Producto_fechaRegistro]  DEFAULT (getdate()) FOR [fechaRegistro]
GO
ALTER TABLE [dbo].[Promociones] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[Servicio] ADD  DEFAULT ((0)) FOR [precio]
GO
ALTER TABLE [dbo].[Servicio] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[TipoMovimiento] ADD  DEFAULT ('') FOR [Descripcion]
GO
ALTER TABLE [dbo].[TipoMovimiento] ADD  CONSTRAINT [DF_TipoMovimiento_Tipo]  DEFAULT ('Entrada') FOR [tipo]
GO
ALTER TABLE [dbo].[Usuario] ADD  CONSTRAINT [DF_Usuario_fechaCreacion]  DEFAULT (sysutcdatetime()) FOR [fechaCreacion]
GO
ALTER TABLE [dbo].[Usuario] ADD  CONSTRAINT [DF_Usuario_activo]  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[CabEgreso]  WITH CHECK ADD  CONSTRAINT [FK_CabEgreso_Usaurio] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[Usuario] ([idUsuario])
GO
ALTER TABLE [dbo].[CabEgreso] CHECK CONSTRAINT [FK_CabEgreso_Usaurio]
GO
ALTER TABLE [dbo].[Comprobante]  WITH CHECK ADD  CONSTRAINT [FK_Comprobante_Cuenta] FOREIGN KEY([idCuenta])
REFERENCES [dbo].[Cuenta] ([idCuenta])
GO
ALTER TABLE [dbo].[Comprobante] CHECK CONSTRAINT [FK_Comprobante_Cuenta]
GO
ALTER TABLE [dbo].[Comprobante]  WITH CHECK ADD  CONSTRAINT [FK_Comprobante_TipoComprobante] FOREIGN KEY([idTipoComprobante])
REFERENCES [dbo].[TipoComprobante] ([idTipoComprobante])
GO
ALTER TABLE [dbo].[Comprobante] CHECK CONSTRAINT [FK_Comprobante_TipoComprobante]
GO
ALTER TABLE [dbo].[Cuenta]  WITH CHECK ADD FOREIGN KEY([idCliente])
REFERENCES [dbo].[Cliente] ([idCliente])
GO
ALTER TABLE [dbo].[Cuenta]  WITH CHECK ADD FOREIGN KEY([idEstadoCuenta])
REFERENCES [dbo].[EstadoCuenta] ([idEstadoCuenta])
GO
ALTER TABLE [dbo].[Cuenta]  WITH CHECK ADD FOREIGN KEY([idUsuarioCreador])
REFERENCES [dbo].[Usuario] ([idUsuario])
GO
ALTER TABLE [dbo].[Cuenta]  WITH CHECK ADD  CONSTRAINT [FK_Cuenta_Promocion] FOREIGN KEY([idPromocion])
REFERENCES [dbo].[Promociones] ([idPromocion])
GO
ALTER TABLE [dbo].[Cuenta] CHECK CONSTRAINT [FK_Cuenta_Promocion]
GO
ALTER TABLE [dbo].[DetalleConsumo]  WITH CHECK ADD FOREIGN KEY([idCuenta])
REFERENCES [dbo].[Cuenta] ([idCuenta])
GO
ALTER TABLE [dbo].[DetalleConsumo]  WITH CHECK ADD  CONSTRAINT [FK_DetalleConsumo_Producto] FOREIGN KEY([idProducto])
REFERENCES [dbo].[Producto] ([idProducto])
GO
ALTER TABLE [dbo].[DetalleConsumo] CHECK CONSTRAINT [FK_DetalleConsumo_Producto]
GO
ALTER TABLE [dbo].[DetalleServicio]  WITH CHECK ADD  CONSTRAINT [FK_DetalleServicio_Cuenta] FOREIGN KEY([idCuenta])
REFERENCES [dbo].[Cuenta] ([idCuenta])
GO
ALTER TABLE [dbo].[DetalleServicio] CHECK CONSTRAINT [FK_DetalleServicio_Cuenta]
GO
ALTER TABLE [dbo].[DetalleServicio]  WITH CHECK ADD  CONSTRAINT [FK_DetalleServicio_Servicio] FOREIGN KEY([idServicio])
REFERENCES [dbo].[Servicio] ([idServicio])
GO
ALTER TABLE [dbo].[DetalleServicio] CHECK CONSTRAINT [FK_DetalleServicio_Servicio]
GO
ALTER TABLE [dbo].[DetEgreso]  WITH CHECK ADD  CONSTRAINT [FK_CabEgreso_CabEgreso] FOREIGN KEY([idCabEgreso])
REFERENCES [dbo].[CabEgreso] ([idCabEgreso])
GO
ALTER TABLE [dbo].[DetEgreso] CHECK CONSTRAINT [FK_CabEgreso_CabEgreso]
GO
ALTER TABLE [dbo].[DetEgreso]  WITH CHECK ADD  CONSTRAINT [FK_Egreso_TipoEgreso] FOREIGN KEY([idTipoEgreso])
REFERENCES [dbo].[TipoEgreso] ([idTipoEgreso])
GO
ALTER TABLE [dbo].[DetEgreso] CHECK CONSTRAINT [FK_Egreso_TipoEgreso]
GO
ALTER TABLE [dbo].[MovimientoInventario]  WITH CHECK ADD  CONSTRAINT [FK_MovInv_Producto] FOREIGN KEY([idProducto])
REFERENCES [dbo].[Producto] ([idProducto])
GO
ALTER TABLE [dbo].[MovimientoInventario] CHECK CONSTRAINT [FK_MovInv_Producto]
GO
ALTER TABLE [dbo].[MovimientoInventario]  WITH CHECK ADD  CONSTRAINT [FK_MovInv_TipoMovimiento] FOREIGN KEY([idTipoMovimiento])
REFERENCES [dbo].[TipoMovimiento] ([idTipoMovimiento])
GO
ALTER TABLE [dbo].[MovimientoInventario] CHECK CONSTRAINT [FK_MovInv_TipoMovimiento]
GO
ALTER TABLE [dbo].[MovimientoInventario]  WITH CHECK ADD  CONSTRAINT [FK_MovInv_Usuario] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[Usuario] ([idUsuario])
GO
ALTER TABLE [dbo].[MovimientoInventario] CHECK CONSTRAINT [FK_MovInv_Usuario]
GO
ALTER TABLE [dbo].[Pago]  WITH CHECK ADD  CONSTRAINT [FK_Pago_Cuenta] FOREIGN KEY([idCuenta])
REFERENCES [dbo].[Cuenta] ([idCuenta])
GO
ALTER TABLE [dbo].[Pago] CHECK CONSTRAINT [FK_Pago_Cuenta]
GO
ALTER TABLE [dbo].[Pago]  WITH CHECK ADD  CONSTRAINT [FK_Pago_MetodoPago] FOREIGN KEY([idMetodoPago])
REFERENCES [dbo].[MetodoPago] ([idMetodoPago])
GO
ALTER TABLE [dbo].[Pago] CHECK CONSTRAINT [FK_Pago_MetodoPago]
GO
ALTER TABLE [dbo].[Producto]  WITH CHECK ADD  CONSTRAINT [FK_Producto_CategoriaProducto] FOREIGN KEY([idCategoriaProducto])
REFERENCES [dbo].[CategoriaProducto] ([idCategoriaProducto])
GO
ALTER TABLE [dbo].[Producto] CHECK CONSTRAINT [FK_Producto_CategoriaProducto]
GO
ALTER TABLE [dbo].[Promociones]  WITH CHECK ADD FOREIGN KEY([idTipoDescuento])
REFERENCES [dbo].[TipoDescuento] ([idTipoDescuento])
GO
ALTER TABLE [dbo].[Servicio]  WITH CHECK ADD  CONSTRAINT [FK_Servicio_Categoria] FOREIGN KEY([idCategoriaServicio])
REFERENCES [dbo].[CategoriaServicio] ([idCategoriaServicio])
GO
ALTER TABLE [dbo].[Servicio] CHECK CONSTRAINT [FK_Servicio_Categoria]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Rol] FOREIGN KEY([idRol])
REFERENCES [dbo].[Rol] ([idRol])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usuario_Rol]
GO
ALTER TABLE [dbo].[Comprobante]  WITH CHECK ADD  CONSTRAINT [CK_Comprobante_importes_nonneg] CHECK  (([subtotal]>=(0) AND [igv]>=(0) AND [total]>=(0)))
GO
ALTER TABLE [dbo].[Comprobante] CHECK CONSTRAINT [CK_Comprobante_importes_nonneg]
GO
ALTER TABLE [dbo].[DetalleConsumo]  WITH CHECK ADD  CONSTRAINT [CK_DetalleConsumo_cantidad_pos] CHECK  (([cantidad]>(0)))
GO
ALTER TABLE [dbo].[DetalleConsumo] CHECK CONSTRAINT [CK_DetalleConsumo_cantidad_pos]
GO
ALTER TABLE [dbo].[DetalleConsumo]  WITH CHECK ADD  CONSTRAINT [CK_DetalleConsumo_importes_nonneg] CHECK  (([precioUnitario]>=(0) AND [subtotal]>=(0)))
GO
ALTER TABLE [dbo].[DetalleConsumo] CHECK CONSTRAINT [CK_DetalleConsumo_importes_nonneg]
GO
ALTER TABLE [dbo].[DetalleServicio]  WITH CHECK ADD  CONSTRAINT [CK_DetalleServicio_cantidad] CHECK  (([cantidad]>(0)))
GO
ALTER TABLE [dbo].[DetalleServicio] CHECK CONSTRAINT [CK_DetalleServicio_cantidad]
GO
ALTER TABLE [dbo].[DetalleServicio]  WITH CHECK ADD  CONSTRAINT [CK_DetalleServicio_precio] CHECK  (([precioUnitario]>=(0)))
GO
ALTER TABLE [dbo].[DetalleServicio] CHECK CONSTRAINT [CK_DetalleServicio_precio]
GO
ALTER TABLE [dbo].[DetalleServicio]  WITH CHECK ADD  CONSTRAINT [CK_DetalleServicio_subtotal] CHECK  (([subtotal]>=(0)))
GO
ALTER TABLE [dbo].[DetalleServicio] CHECK CONSTRAINT [CK_DetalleServicio_subtotal]
GO
ALTER TABLE [dbo].[DetEgreso]  WITH CHECK ADD  CONSTRAINT [CK_DetEgreso_monto_pos] CHECK  (([monto]>(0)))
GO
ALTER TABLE [dbo].[DetEgreso] CHECK CONSTRAINT [CK_DetEgreso_monto_pos]
GO
ALTER TABLE [dbo].[MovimientoInventario]  WITH CHECK ADD  CONSTRAINT [CK_MovInv_cantidad_pos] CHECK  (([cantidad]>(0)))
GO
ALTER TABLE [dbo].[MovimientoInventario] CHECK CONSTRAINT [CK_MovInv_cantidad_pos]
GO
ALTER TABLE [dbo].[MovimientoInventario]  WITH CHECK ADD  CONSTRAINT [CK_MovInv_costos_nonneg] CHECK  (([costoUnitario]>=(0) AND [costoTotal]>=(0)))
GO
ALTER TABLE [dbo].[MovimientoInventario] CHECK CONSTRAINT [CK_MovInv_costos_nonneg]
GO
ALTER TABLE [dbo].[Pago]  WITH CHECK ADD  CONSTRAINT [CK_Pago_monto_pos] CHECK  (([monto]>(0)))
GO
ALTER TABLE [dbo].[Pago] CHECK CONSTRAINT [CK_Pago_monto_pos]
GO
ALTER TABLE [dbo].[Producto]  WITH CHECK ADD  CONSTRAINT [CK_Producto_precios_nonneg] CHECK  (([precioCompra]>=(0) AND [precioVenta]>=(0)))
GO
ALTER TABLE [dbo].[Producto] CHECK CONSTRAINT [CK_Producto_precios_nonneg]
GO
ALTER TABLE [dbo].[Producto]  WITH CHECK ADD  CONSTRAINT [CK_Producto_stocks_nonneg] CHECK  (([stockActual]>=(0) AND [stockMinimo]>=(0)))
GO
ALTER TABLE [dbo].[Producto] CHECK CONSTRAINT [CK_Producto_stocks_nonneg]
GO
/****** Object:  StoredProcedure [dbo].[sp_ValidarLogin]    Script Date: 12/12/2025 19:31:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create   PROCEDURE [dbo].[sp_ValidarLogin]
    @identificador NVARCHAR(50), -- Puede ser nombreUsuario o correo
    @contraseniaHash NVARCHAR(200)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT U.idUsuario, U.nombreUsuario, U.correo, U.idRol, R.nombre AS Rol
    FROM Usuario U
    INNER JOIN Rol R ON U.idRol = R.idRol
    WHERE (U.nombreUsuario = @identificador OR U.correo = @identificador)
      AND U.contraseniaHash = @contraseniaHash
      AND U.activo = 1;
END
GO
USE [master]
GO
